# Use the CPU-only torch, which is much smaller than the default CUDA build.
--extra-index-url https://download.pytorch.org/whl/cpu
autopep8
hhoppe-tools
IPython
jax[cpu]
jupytext
matplotlib
mediapy
mypy
numba
numpy
opencv-python-headless
pdoc
Pillow
pyink
pylint
pyrefly
pytest
resampler
ruff
scikit-image
scipy
torch
