autopep8
flake8
hhoppe-tools
IPython
jax[cpu]
jupytext
matplotlib
mediapy
mypy
numba>=0.55.1
numpy>=1.21,<1.22
opencv-python-headless
pdoc
Pillow
pylint
pytest
resampler
scipy
scikit-image
tensorflow-cpu
torch
